.album-cards-section {
  position: relative;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 40px 0;
  background-color: black;
}

.album-card {
  position: relative;
  margin: 20px; 
  overflow: hidden;
  border-radius: 10px;
  height: 360px; 
}

.album-card img {
  width: 100%;
  height: 100%;
  object-fit: contain; 
  display: block;
  transition: transform 0.3s ease;
}

.album-card:hover img {
  transform: scale(1.1);
}

.card-caption {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  color: #fff;
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px 20px;
  border-radius: 5px;
  opacity: 0;
  transition: opacity 0.3s ease, background-color 0.3s ease;
}

.album-card:hover .card-caption {
  opacity: 1;
}

.album-card a {
  text-decoration: none;
  color: inherit;
}

@media (max-width: 1024px) {
  .album-card {
    width: 45%;
    height: 300px; 
  }

  .card-caption {
    opacity: 1; 
    font-size: 20px; 
  }
}

@media (max-width: 768px) {
  .album-card {
    width: 100%; 
    height: 250px; 
  }

  .card-caption {
    font-size: 18px;
  }
}
