@import url(../../fonts/fonts.css);

.header {
  background-color: #000;
  color: #fff;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  height: 60px;
}

.logo {
  font-size: 50px;
  text-decoration: none;
  color: #fff;
  font-family: 'Jacquard';
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.nav-links, .social-links {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.nav-links {
  flex: 1;
  justify-content: center;
  font-family: 'Jacquard';
}

.nav-links li, .social-links li {
  margin: 0 10px;
}

.nav-links a, .social-links a {
  text-decoration: none;
  color: #fff;
  font-size: 18px; 
  transition: transform 0.3s, color 0.3s;
}

.nav-links a:hover, .social-links a:hover {
  transform: scale(1.1);
  color: #3cf000;
}

.social-links li a {
  display: flex;
  align-items: center;
}

.burger {
  display: none;
  cursor: pointer;
}

.overlay {
  position: fixed;
  top: 60px; 
  left: 0;
  width: 100%;
  height: calc(100% - 60px); 
  background: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

@media (max-width: 1024px) {
  .logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }

  .navigation {
    display: none;
    position: fixed;
    top: 60px; 
    left: 0;
    width: 250px;
    height: calc(100% - 60px); 
    background-color: #000;
    flex-direction: column;
    align-items: flex-start; 
    text-align: left; 
    z-index: 1001; 
    overflow-y: auto;
  }

  .navigation.open {
    display: flex;
  }

  .nav-links {
    flex-direction: column;
    margin-bottom: 100px;
    gap: 15px;
    padding-left: 20px; 
  }

  .social-links {
    flex-direction: row;
    background-color: #333;
    width: 100%;
    justify-content: center;
    padding: 10px 0;
    margin-top: auto; 
  }

  .burger {
    display: block;
    z-index: 1002;
  }
}

@media (max-width: 768px) {
  .navigation {
    width: 100%;
    height: calc(100% - 60px); 
  }

  .nav-links li, .social-links li {
    margin: 15px 0;
  }

  .social-links {
    flex-direction: row;
    margin-top: 20px;
    gap: 15px;
  }

  .burger {
    font-size: 24px;
  }
}
