.tours-section {
  padding: 40px 20px;
  background-color: #000;
  color: #fff;
}

.tours-header {
  font-size: 24px;
  text-align: center;
  margin-bottom: 20px;
}

.tours-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 0 10%;
}

.tour-card {
  background-color: #333;
  padding: 20px;
  border-radius: 10px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tour-info {
  display: flex;
  flex-direction: column;
}

.tour-date {
  font-size: 18px;
  font-weight: bold;
}

.tour-city {
  font-size: 16px;
  color: #ccc;
}

.tour-link {
  background-color: #555;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  color: #fff;
  transition: background-color 0.3s;
}

.tour-link:hover {
  background-color: #777;
}

/* Адаптивные стили */
@media (max-width: 1024px) {
  .tours-container {
    margin: 0 auto;
  }

  .tour-card {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .tour-link {
    margin-top: 10px;
    align-self: center;
  }
}

@media (max-width: 768px) {
  .tours-header {
    font-size: 20px;
  }

  .tour-date {
    font-size: 16px;
  }

  .tour-city {
    font-size: 14px;
  }

  .tour-link {
    font-size: 14px;
    padding: 8px 16px;
  }
}

@media (max-width: 480px) {
  .tours-container {
    padding: 0 2%;
  }

  .tour-card {
    padding: 0;
  }

}
