/* Секция с карточками альбомов */
.album-cards {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 0;
  background-color: black;
}

/* Заголовок секции */
.album-cards__title {
  color: #fff;
  font-size: 36px;
  margin-bottom: 20px;
}

/* Список карточек альбомов */
.album-cards__list {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100%;
  list-style: none;
  padding: 0;
  margin: 0;
}

/* Карточка альбома */
.album-cards__item {
  position: relative;
  margin: 20px;
  overflow: hidden;
  border-radius: 10px;
  height: 360px;
  width: calc(25% - 40px);
  /* Учет отступов */
}

/* Изображение альбома */
.album-cards__image {
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: block;
  transition: transform 0.3s ease;
}

/* Эффект увеличения изображения при наведении */
.album-cards__item:hover .album-cards__image {
  transform: scale(1.1);
}

/* Подпись к карточке альбома */
.album-cards__caption {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  color: #fff;
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px 20px;
  border-radius: 5px;
  opacity: 0;
  transition: opacity 0.3s ease, background-color 0.3s ease;
}

/* Отображение подписи при наведении на карточку */
.album-cards__item:hover .album-cards__caption {
  opacity: 1;
}

/* Ссылка внутри карточки */
.album-cards__link {
  text-decoration: none;
  color: inherit;
  display: block;
  height: 100%;
}

/* Адаптивность для устройств с шириной экрана до 1024px */
@media (max-width: 1024px) {
  .album-cards__item {
    width: 45%;
    height: 300px;
  }

  .album-cards__caption {
    opacity: 1;
    font-size: 20px;
  }
}

/* Адаптивность для устройств с шириной экрана до 768px */
@media (max-width: 768px) {
  .album-cards__item {
    width: 100%;
    height: 250px;
  }

  .album-cards__caption {
    font-size: 18px;
  }
}