
@font-face {
  font-family: 'Jacquard';
  src: url('../fonts/Jacquard12-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Beast';
  src: url('../fonts/BeastHead.otf') format('otf'); 
  font-weight: normal;
  font-style: normal;
}
