@import url(../../fonts/fonts.css);

/* Основной стиль для заголовка */
.header {
  background-color: #000;
  color: #fff;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

/* Контейнер для содержимого заголовка */
.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  height: 60px;
}

/* Логотип */
.header__logo {
  font-size: 50px;
  text-decoration: none;
  color: #fff;
  font-family: 'Jacquard';
}

/* Навигация */
.header__navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

/* Ссылки навигации */
.header__nav-links,
.header__social-links {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

/* Элементы ссылок навигации */
.header__nav-links {
  flex: 1;
  justify-content: center;
  font-family: 'Jacquard';
}

.header__nav-item,
.header__social-item {
  margin: 0 10px;
}

/* Ссылки навигации */
.header__nav-link,
.header__social-link,
.header__cart-link {
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  transition: transform 0.3s, color 0.3s;
}

.header__nav-link:hover,
.header__social-link:hover,
.header__cart-link:hover {
  transform: scale(1.1);
  color: #3cf000;
}

.header__social-link {
  display: flex;
  align-items: center;
}

/* Кнопка-бургер для мобильного меню */
.header__burger {
  display: none;
  cursor: pointer;
  background: none;
  border: none;
  color: #fff;
}

/* Кнопка для корзины */
.header__cart-button {
  background: none;
  border: none;
  cursor: pointer;
  color: #fff;
  position: relative;
  transition: transform 0.3s, color 0.3s;
}

.header__cart-button:hover {
  transform: scale(1.1);
  color: #3cf000;
}

.header__cart-count {
  background-color: #134702;
  color: #fff;
  border-radius: 50%;
  padding: 2px 8px;
  font-size: 12px;
  position: absolute;
  top: -10px;
  right: -10px;
}

/* Оверлей для затемнения фона при открытом меню или корзине */
.header__overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

/* Скрываем значок корзины для мобильных устройств */
.header__cart-mobile {
  display: none;
}

/* Навигация для корзины */
.header__cart-navigation {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  width: 450px;
  height: 100%;
  background-color: #000;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  z-index: 1001;
  overflow-y: auto;
  transition: transform 0.3s ease;
  transform: translateX(100%);
}

.header__cart-navigation--open {
  display: flex;
  transform: translateX(0);
}

/* Кнопка закрытия корзины */
.header__cart-close {
  background: none;
  border: none;
  cursor: pointer;
  color: #fff;
  align-self: flex-end;
  margin: 10px;
  font-size: 24px;
}

/* Элементы корзины */
.header__cart-items {
  list-style: none;
  padding: 0;
  margin: 20px 0;
  width: 100%;
}

.header__cart-item {
  padding: 10px;
  border-bottom: 1px solid #333;
  width: 100%;
  text-align: left;
}

/* Адаптивность для устройств с шириной экрана до 1024px */
@media (max-width: 1024px) {
  .header__logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }

  .header__navigation {
    display: none;
    position: fixed;
    top: 60px;
    left: 0;
    width: 250px;
    height: calc(100% - 60px);
    background-color: #000;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    z-index: 1001;
    overflow-y: auto;
  }

  .header__navigation.header__navigation--open {
    display: flex;
  }

  .header__nav-links {
    flex-direction: column;
    margin-bottom: 100px;
    gap: 15px;
    padding-left: 20px;
  }

  .header__social-links {
    flex-direction: row;
    background-color: #333;
    width: 100%;
    justify-content: center;
    padding: 10px 0;
    margin-top: auto;
  }

  .header__burger {
    display: block;
    z-index: 1002;
  }

  .header__cart-mobile {
    display: block;
    margin-left: auto;
  }
}

/* Адаптивность для устройств с шириной экрана до 768px */
@media (max-width: 768px) {
  .header__navigation {
    width: 100%;
    height: calc(100% - 60px);
  }

  .header__nav-item,
  .header__social-item {
    margin: 15px 0;
  }

  .header__social-links {
    flex-direction: row;
    margin-top: 20px;
    gap: 15px;
  }

  .header__burger {
    font-size: 24px;
  }

  .header__cart {
    display: none;
  }
}