/* Секция галереи */
.gallery {
  padding: 20px;
  background-color: #000;
  color: #fff;
  text-align: center;
}

/* Заголовок галереи */
.gallery__title {
  font-size: 36px;
  margin-bottom: 20px;
}

/* Сетка галереи */
.gallery__grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

/* Элемент галереи */
.gallery__item {
  position: relative;
  width: calc(50% - 40px);
  margin: 20px;
  overflow: hidden;
  border-radius: 10px;
  transition: transform 0.3s ease;
}

.gallery__item:hover {
  transform: scale(1.05);
}

/* Обертка изображения */
.gallery__image-wrapper {
  width: 100%;
  height: 400px;
  overflow: hidden;
}

/* Изображение галереи */
.gallery__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.gallery__item:hover .gallery__image {
  transform: scale(1.1);
}

/* Наложение текста */
.gallery__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.6);
  color: #fff;
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.gallery__item:hover .gallery__overlay {
  opacity: 1;
}

/* Ссылка на альбом */
.gallery__link {
  text-decoration: none;
  color: inherit;
  display: block;
  height: 100%;
}

/* Адаптивность для устройств с шириной экрана до 768px */
@media (max-width: 768px) {
  .gallery__item {
    width: calc(100% - 40px);
  }
}

/* Адаптивность для устройств с шириной экрана до 669px */
@media (max-width: 669px) {
  .gallery__item {
    width: calc(100% - 40px);
    margin: 10px;
  }
}